/* ------------------------------------------------------------------------
   This CSS is to be left alone unless certain it must be removed.
   It governs common elements.
   ------------------------------------------------------------------------ */

.clear { clear:both; }

* {
    margin:0;
    padding:0;
}

#loader-container {
    display:none;
    position:fixed;
    left:50%;
    top:35%;
    background:white;
    padding:1.3em 1em 1em 1.2em;
    z-index:99;
    border:3px solid silver;
    border-radius: 15px 15px;
}

/* ------------------
        NOTICES
   ------------------ */

.error, .notice, .success {
    padding: .8em;
    margin-bottom: 0.5em;
    border: 2px solid #ddd;
}

.error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

.notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

.error a {
    color: #8a1f11;
}

.notice a {
    color: #514721;
}

.success a {
    color: #264409;
}

/* ------------------
        POPUP
   ------------------ */

#popup-content {
    overflow: auto;
    width:100%;
}

#popup-container {
    z-index: 97;
    display: none;
    position: absolute;
    top: 25%;
    left: 33%;
}

#popup-backdrop {
    z-index: 98;
    display: block;
    filter: alpha(opacity=75);
    opacity: 0.75;
    border-radius: 15px 15px;
    background: gray;
    position: absolute;
    left: auto;
    width: 47em;
    right: auto;
    top: auto;
    margin: -1em 0 0 -1.25em;
    border: 2px gray;
    border-style: solid;
}

#popup {
    z-index: 99;
    display: block;
    background: #ffffff;
    position: absolute;
    left: auto;
    max-width: 45em;
    min-width:35em;
    right: auto;
    top: auto;
    margin: -0.2em 0 0 -0.2em;
    border: 1px solid gray;
}

#popup-title {
    display:none;
    font-weight:bold;
    border-bottom:1px dotted #eeeeee;
    font-size:1.3em;
    width:97.75%;
    white-space:nowrap;
    margin:0;
    padding:0.4em 0 0.3em 0.6em;
    background:#eeeeee;
}

#popup-close {
    float: right;
    padding:0.4em 0.4em 0 0;
    cursor: pointer;
    z-index:10;
}