/* ------------------------------------------------------------------------
   This CSS will be changed to suit the needs of the mobile page.
   All that is below is currently for the default mobile landing page.
   ------------------------------------------------------------------------ */

body {
    background:gray;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    color:#474848;
}

#wrapper {
    margin:auto auto;
    margin-top:1em;
    padding:2em;
}

#header h1 {
    float:left;
    color:black;
    vertical-align:top;
    letter-spacing:1px;
    font-style:italic;
}

#footer {
    padding:1em 1em 0.2em 1em;
    text-align:center;
    font-size:0.9em;
}
